### Data Collection 

1. Through a Webpage 
2. Through an API 



* Webpage : To extract data from a webpage there are 2 python package to use:

1. BeautifulSoup (To be covered)
2. Selenium [Capstone Project](https://hfr.health.gov.ng/facilities/hospitals-search?_token=uHw9x4DLz9c8MwyEEHT7icRzqQ58EbDYmDotb9Ez&state_id=1&ward_id=0&facility_level_id=0&ownership_id=0&operational_status_id=1&registration_status_id=2&license_status_id=1&geo_codes=0&service_type=0&service_category_id=0&entries_per_page=20&page=1#)



Webpages to scrape
1. [Weather](https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.ZAhnIezMJhF)
2. [Wikipedia](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal))

## Weather Data Scraping

country | name | description | temp | condition <br>
SA | Today | Sunny | 54 |  High
SA |

In [52]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from beautifulsoup4) (2.3.2.post1)

In [53]:
!pip install requests

Requirement already satisfied: requests in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (2.28.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from requests) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from requests) (2022.6.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from requests) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from requests) (2.8)

In [54]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [55]:
url = "https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.ZAjW_OzMJhG"
request = requests.get(url)
request.status_code

200

.find <br>
.find_all <br>
.select <br>

In [56]:
page = bs(request.content, "html.parser")

In [57]:
days = page.find(id="seven-day-forecast")

## Get today's information

In [58]:
days.find(class_="forecast-tombstone")

<li class="forecast-tombstone current-hazard current-hazard-watch" onclick="$('#headline-detail-now').toggle(); $('#headline-detail').hide()">
<div class="top-bar"> <div id="headline-detail-now"><div>Flood Watch until March 12, 10:00am</div></div><span class="tab"></span><span class="fa fa-info-circle"></span></div><div class="tombstone-container">
<p class="period-name">NOW until<br/>10:00am Sun</p>
<p><img alt="" class="forecast-icon" src="newimages/medium/nra.png" title=""/></p><p class="short-desc">Flood Watch</p></div></li>

## Get all days

In [59]:
all_days = page.find(id="seven-day-forecast")

In [60]:
all_days = all_days.find_all(class_="forecast-tombstone")

In [61]:
len(all_days)

9

In [62]:
today = all_days[0]

In [63]:
day = today.find(class_="period-name").text
desc = today.find(class_="short-desc").text
#temp = today.find(class_="temp").text
temp =  getattr(today.find(class_="temp"), 'text', None)

In [64]:
days = [i.find(class_="period-name").text for i in all_days]
desc = [i.find(class_="short-desc").text for i in all_days]
temp = [getattr(i.find(class_="temp"), 'text', None) for i in all_days]

In [65]:
temp1 = []

for i in all_days:
    value = getattr(i.find(class_="temp"), 'text', None)
    temp1.append(value)

In [66]:
temp

[None,
 'Low: 46 °F',
 'High: 58 °F',
 'Low: 52 °F',
 'High: 60 °F',
 'Low: 52 °F',
 'High: 60 °F',
 'Low: 53 °F',
 'High: 60 °F']

In [67]:
temp1

[None,
 'Low: 46 °F',
 'High: 58 °F',
 'Low: 52 °F',
 'High: 60 °F',
 'Low: 52 °F',
 'High: 60 °F',
 'Low: 53 °F',
 'High: 60 °F']

In [68]:
data = pd.DataFrame({"days":days, "desc":desc, "temp":temp})

In [69]:
data.head()

                   days                      desc         temp
0  NOW until10:00am Sun               Flood Watch         None
1             Overnight               Chance Rain   Low: 46 °F
2              Saturday  Rain Likelyand PatchyFog  High: 58 °F
3         SaturdayNight        Rain andPatchy Fog   Low: 52 °F
4                Sunday        Rain andPatchy Fog  High: 60 °F

In [70]:
data['condition'] = data['temp'].apply(lambda x: x.split(":")[0] if x is not None else x)

In [71]:
data

                   days                      desc         temp condition
0  NOW until10:00am Sun               Flood Watch         None      None
1             Overnight               Chance Rain   Low: 46 °F       Low
2              Saturday  Rain Likelyand PatchyFog  High: 58 °F      High
3         SaturdayNight        Rain andPatchy Fog   Low: 52 °F       Low
4                Sunday        Rain andPatchy Fog  High: 60 °F      High
5           SundayNight  Rain Likelyand PatchyFog   Low: 52 °F       Low
6                Monday  Rain Likelyand PatchyFog  High: 60 °F      High
7           MondayNight            Rain andBreezy   Low: 53 °F       Low
8               Tuesday            Rain andBreezy  High: 60 °F      High

In [72]:
data['temp'] = data['temp'].apply(lambda x:int(x.split()[1]) if x is not None else x)

In [73]:
data

                   days                      desc  temp condition
0  NOW until10:00am Sun               Flood Watch   NaN      None
1             Overnight               Chance Rain  46.0       Low
2              Saturday  Rain Likelyand PatchyFog  58.0      High
3         SaturdayNight        Rain andPatchy Fog  52.0       Low
4                Sunday        Rain andPatchy Fog  60.0      High
5           SundayNight  Rain Likelyand PatchyFog  52.0       Low
6                Monday  Rain Likelyand PatchyFog  60.0      High
7           MondayNight            Rain andBreezy  53.0       Low
8               Tuesday            Rain andBreezy  60.0      High

In [74]:
days = page.find(id="seven-day-forecast")

In [75]:
names = [i.text for i in days.select(".panel-body .forecast-tombstone .period-name")]
desc = [i.text for i in days.select(".panel-body .forecast-tombstone .short-desc")]
temp = [i.text for i in days.select(".panel-body .forecast-tombstone .temp")]

In [76]:
pd.DataFrame({"names":names, "desc":desc, "temp":temp})

ValueError: All arrays must be of the same length

In [ ]:
url2 = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

In [ ]:
request = requests.get(url2)

In [ ]:
page =bs(request.content, "html.parser")

## Wikipedia Webscrape

In [ ]:
page = pd.read_html(url2)

In [ ]:
data = page[2][:4]

In [ ]:
data.columns = [i[1] for i in list(data.columns)]

In [ ]:
data