### Data Collection 

1. Through a Webpage 
2. Through an API 



* Webpage : To extract data from a webpage there are 2 python package to use:

1. BeautifulSoup (To be covered)
2. Selenium [Capstone Project](https://hfr.health.gov.ng/facilities/hospitals-search?_token=uHw9x4DLz9c8MwyEEHT7icRzqQ58EbDYmDotb9Ez&state_id=1&ward_id=0&facility_level_id=0&ownership_id=0&operational_status_id=1&registration_status_id=2&license_status_id=1&geo_codes=0&service_type=0&service_category_id=0&entries_per_page=20&page=1#)



Webpages to scrape
1. [Weather](https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.ZAhnIezMJhF)
2. [Wikipedia](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal))

## Weather Data Scraping

country | name | description | temp | condition <br>
SA | Today | Sunny | 54 |  High
SA |

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4) (2.2.1)

In [ ]:
!pip install requests

Requirement already satisfied: requests in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/opeyemi/opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.4)

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [3]:
url = "https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.ZAjW_OzMJhG"
request = requests.get(url)
request.status_code

200

.find <br>
.find_all <br>
.select <br>

In [4]:
page = bs(request.content, "html.parser")

In [5]:
days = page.find(id="seven-day-forecast")

## Get today's information

In [7]:
days.find(class_="forecast-tombstone")

<li class="forecast-tombstone current-hazard current-hazard-watch" onclick="$('#headline-detail-now').toggle(); $('#headline-detail').hide()">
<div class="top-bar"> <div id="headline-detail-now"><div>Flood Watch until March 12, 10:00am</div></div><span class="tab"></span><span class="fa fa-info-circle"></span></div><div class="tombstone-container">
<p class="period-name">NOW until<br/>10:00am Sun</p>
<p><img alt="" class="forecast-icon" src="newimages/medium/nra.png" title=""/></p><p class="short-desc">Flood Watch</p></div></li>

## Get all days

In [8]:
all_days = page.find(id="seven-day-forecast")

In [9]:
all_days = all_days.find_all(class_="forecast-tombstone")

In [10]:
len(all_days)

9

In [14]:
today = all_days[0]

In [16]:
day = today.find(class_="period-name").text
desc = today.find(class_="short-desc").text
#temp = today.find(class_="temp").text
temp =  getattr(today.find(class_="temp"), 'text', None)

In [34]:
days = [i.find(class_="period-name").text for i in all_days]
desc = [i.find(class_="short-desc").text for i in all_days]
temp1 = [getattr(i.find(class_="temp"), 'text', None) for i in all_days]

In [32]:
temp = []

for i in all_days:
    value = getattr(i.find(class_="temp"), 'text', None)
    temp.append(value)

In [33]:
temp

[None,
 'Low: 46 °F',
 'High: 57 °F',
 'Low: 51 °F',
 'High: 59 °F',
 'Low: 52 °F',
 'High: 62 °F',
 'Low: 52 °F',
 'High: 59 °F']

In [35]:
temp1

[None,
 'Low: 46 °F',
 'High: 57 °F',
 'Low: 51 °F',
 'High: 59 °F',
 'Low: 52 °F',
 'High: 62 °F',
 'Low: 52 °F',
 'High: 59 °F']

In [ ]:
data = pd.DataFrame({"days":days, "desc":desc, "temp":temp})

In [ ]:
data.head()

            days                          desc         temp
0          Today                         Sunny  High: 54 °F
1        Tonight  Partly Cloudythen ChanceRain   Low: 42 °F
2       Thursday                          Rain  High: 56 °F
3  ThursdayNight          Heavy Rainand Breezy   Low: 48 °F
4         Friday          Heavy Rainand Breezy  High: 59 °F

In [ ]:
data['condition'] = data['temp'].apply(lambda x: x.split(":")[0])

In [ ]:
data['temp'] = data['temp'].apply(lambda x:int(x.split()[1]))

In [ ]:
data

            days                          desc  temp condition
0          Today                         Sunny    54      High
1        Tonight  Partly Cloudythen ChanceRain    42       Low
2       Thursday                          Rain    56      High
3  ThursdayNight          Heavy Rainand Breezy    48       Low
4         Friday          Heavy Rainand Breezy    59      High
5    FridayNight                   Chance Rain    48       Low
6       Saturday                   Chance Rain    60      High
7  SaturdayNight                   Rain Likely    51       Low
8         Sunday                   Rain Likely    61      High

In [ ]:
days = page.find(id="seven-day-forecast")

In [ ]:
names = [i.text for i in days.select(".panel-body .forecast-tombstone .period-name")]
desc = [i.text for i in days.select(".panel-body .forecast-tombstone .short-desc")]
temp = [i.text for i in days.select(".panel-body .forecast-tombstone .temp")]

In [ ]:
pd.DataFrame({"names":names, "desc":desc, "temp":temp})

           names                          desc         temp
0          Today                         Sunny  High: 54 °F
1        Tonight  Partly Cloudythen ChanceRain   Low: 42 °F
2       Thursday                          Rain  High: 56 °F
3  ThursdayNight          Heavy Rainand Breezy   Low: 48 °F
4         Friday          Heavy Rainand Breezy  High: 59 °F
5    FridayNight                   Chance Rain   Low: 48 °F
6       Saturday                   Chance Rain  High: 60 °F
7  SaturdayNight                   Rain Likely   Low: 51 °F
8         Sunday                   Rain Likely  High: 61 °F

In [ ]:
url2 = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

In [ ]:
request = requests.get(url2)

In [ ]:
page =bs(request.content, "html.parser")

## Wikipedia Webscrape

In [ ]:
page = pd.read_html(url2)

In [ ]:
data = page[2][:4]

In [ ]:
data.columns = [i[1] for i in list(data.columns)]

In [ ]:
data

,Country/Territory,UN Region,Estimate,Year,Estimate,Year,Estimate,Year
0,World,—,101560901,2022,96513077,2021,85328323,2020
1,United States,Americas,25035164,2022,22996100,2021,20893746,2020
2,China,Asia,18321197,[n 1]2022,17734063,[n 3]2021,14722801,[n 1]2020
3,Japan,Asia,4300621,2022,4937422,2021,5057759,2020